# user inputs
listCases="Case8_m042_predeformed_finerflow Case3_predeformed_finerflow Case9_m047_predeformed_finerflow Case11_predeformed_finerflow Case12_predeformed_finerflow Case16_m06_predeformed_finerflow Case16_m06_predeformed_finerflow_remesh" 
scriptsDir="$SCRATCH/Aneurysm_Workflow_FSI/Scripts_Nia/"
configDir="$SCRATCH/Aneurysm_Workflow_FSI/Scripts_Nia/pulsatile_ramp_config/"
simDir="$SCRATCH/7_0_Surgical/Pulsatile_Ramp_Cases/"
#simDir="$PROJECT/Pulsatile_Cases/"
broken_xdmf_cases=""
