# user inputs
listCases="Case8_m042_predeformed Case3_predeformed Case9_m047_predeformed Case12_predeformed Case16_m06_predeformed Case11_predeformed"
scriptsDir="$SCRATCH/Aneurysm_Workflow_FSI/Scripts_Nia/"
configDir="$SCRATCH/Aneurysm_Workflow_FSI/Scripts_Nia/steady_ramp_config/"
simDir="$SCRATCH/7_0_Surgical/Ramp_Cases_Steady/"
broken_xdmf_cases=""
